.nav{width:100%;height: 28px;background-color: #545652;font-size: 12px}
.nav a{color: #d5d5d5;text-decoration: none}
.nav a:hover{color: white}
.nav-left{float: left}
.nav-left ul {list-style: none}
.nav-left ul li{float: left;line-height: 28px;margin-left:12px;margin-right: 12px }
.nav-bottom{float: left;margin-left: 39rem;line-height: 28px}
.nav-right{float: left;margin-left: 1.5rem;line-height: 28px;}
.nav-right span{margin-left: 1.3rem}
.doubangroup{background: #f0f6f3;width: 100%;height: 74px}
.doubangroup-main{margin: 0 auto;width: 1040px;height: 74px}
.doubangroup-left{float: left;width: 145px;height:56px;margin-top: 23px}
.doubangroup-pic{width: 115px;height: 26px;background: url("../image-group/lg_group_a11_2.png")}
.doubangroup-midle{float: left;;margin-top: 28px;margin-left: 10px}
.doubangroup-midle ul{list-style: none}
.doubangroup-midle ul li{float: left;margin-right: 30px;font-size: 15px}
.doubangroup-midle ul li a{color: #037b82;text-decoration: none}
.doubangroup-midle ul li a:hover{color: white;background:#037b82 }
.doubangroup-right{width: 282px;  height: 28px;border: 1px solid #e1e9e1;background: white;float: right;margin-top: 22px;}
.input{width: 242px; height: 28px;padding-left: 10px;border: none;float: left}
.input:focus{outline: none}
.search{width: 30px;height: 28px;border: none;background: url("../image-group/bn_srh_1.png") no-repeat 50% 50%;float: right}
.wrap{width: 100%;height:auto;margin-top: 40px;}
.content{width: 1040px;height: 5394px;margin: 0 auto;}
.content-title{font-size: 26px;  color: #494949;margin-bottom: 30px}
.content-main{width: 1040px;height: 5331px;}
.article{float: left;width: 715px;height:auto;}
.item{width: 675px;height:145px;margin-bottom: 30px;}
.like{float: left; padding:8px 0;width:48px;line-height:1.3;text-align:center;font-size:13px;color:#ca6445;background:#fae9da}
.txt{padding-bottom: 10px; border-bottom: 1px solid #e5e5e5;float: left;margin-left: 19px;width: 608px;}
.txt p{ line-height: 1.3;font-size: 15px;margin-bottom: 10px}
.txt p a{text-decoration: none;color: #37a}
.txt p a:link{text-decoration: none;color: #37a}
.txt p a:hover{text-decoration: none;background-color: #37a;color: white}
.block{padding: 10px;color: #999;background: #f9f9f9;width: 596px;font-size: 13px}
.block-pic{height: 60px;margin-right: 16px;margin-bottom: 10px;float: left}
.block-txt{line-height: 1.62}
.source{margin-top: 10px;color: #666}
.source p{font-size: 12px}
.source p a{text-decoration: none;color:#666 }
.source p a:link{text-decoration: none;color:#666}
.source p a:hover{text-decoration: none;background-color: #37a;color: white}
.source p span{color: #999;margin-left: 1.5rem}
.page{width: 675px;height: 21px;font-size: 14px;line-height: 150%;  text-align: center}
.prev{color: #aaa;margin-right: 20px}
.page1{color: #37a;text-decoration: none;padding: 0 4px;  margin: 2px}
.page1:link{color: #37a;text-decoration: none;}
.page1:hover{background-color: #37a;text-decoration: none;color: white}
.next{color: #999;text-decoration: none;margin-left: 20px}
.next:link{text-decoration: none;color:#666}
.next:hover{text-decoration: none;background-color: #37a;color: white}
.aside{width: 300px;height:auto;float: right}
.aside p{font-size: 14px;line-height: 1.3;color: #666;margin-bottom: 10px}
.list{width:300px;height: 60px;border-top: 1px solid #e5e5e5 ;padding-top:10px}
.list-pic{float: left}
.pic-bg{width: 48px;height: 48px;background: url("../image-group/pic21.jpg")}
.list-txt{float: right}
.list-txt { line-height: 1.3;font-size: 15px;}
.list-txt a{text-decoration: none;color: #37a}
.list-txt a:link{text-decoration: none;color: #37a}
.list-txt a:hover{text-decoration: none;background-color: #37a;color: white}
.list-txt p{margin-top: 10px;color: #666;}
.list-txt p a{text-decoration: none;color:#37a;font-size: 12px ;margin-left: 15px}
.list-txt p a:link{text-decoration: none;color:#37a}
.list-txt p a:hover{text-decoration: none;background-color: #37a;color: white}
.footer{width:1040px;height:21px;padding: 6px 0;border-top: 1px dashed #ddd;margin: 0 auto;font-size: 13px;}
.footer-left{color: #999;float: left}
.footer-right{float: right}
.footer-right a{text-decoration: none;color: #37a;margin-left: 12px}
.footer-right a:link{text-decoration: none;color: #37a}
.footer-right a:hover{text-decoration: none;background-color: #37a;color: white}
